<div class="main col-sm-12">
  <span *ngIf="item.retention > 0; else placeholder"
        class="circle-it"
        [style.color]="item.retention === 5 ? '#2ecc71' : '#95a5a6'"
        [style.border]="item.retention === 5 ? '2px solid #2ecc71' : '2px solid #95a5a6'">
    {{ item.retention }}
  </span>
  <ng-template #placeholder>
    <span class="circle-it">/</span>
  </ng-template>
  <small class="text-muted">
    Retention
  </small>
  <ngb-rating [(rate)]="item.retention"
              [max]="5"
              [resettable]="true"></ngb-rating>
</div>