<div class="col-sm-12">
  <small class="text-muted ml-3">
    Position
  </small>
  <p>
    <span>
      <i class="fa fa-male text-muted mr-1"></i> {{ item.position }}
    </span>
  </p>
</div>
<div class="col-sm-12">
  <small class="text-muted ml-3">
    Phone Number
  </small>
  <p>
    <span>
      <i class="fa fa-phone text-muted mr-1"></i>{{ item.phone }}
    </span>
  </p>
</div>
<div class="col-sm-12">
  <small class="text-muted ml-3">
    Email
  </small>
  <p>
    <span>
      <i class="fa fa-envelope text-muted mr-1"></i> {{ item.email }}
    </span>
  </p>
</div>