<!-- if loading -->
<section *ngIf="isLoading; else whenNotLoading"
     class="container">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active">
      <span>Please wait, the page is loading<span class="dotdotdot"></span></span>
    </div>
  </div>
</section>

<!-- if not loading -->
<ng-template #whenNotLoading>
  <!-- in case of an error, show the error message to the UI -->
  <div *ngIf="items.length == 0"
       class="container">
    <div class="alert alert-danger">
      <strong>{{ this.errorMessage }}</strong>
    </div>
  </div>
  <!-- if everything is OK, show the list of items -->
  <app-item *ngFor="let item of items"
            [item]="item">
  </app-item>
</ng-template>